# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/KnnPattern$DoubleString.class
/KnnPattern$KnnMapper.class
/KnnPattern$KnnReducer.class
/KnnPattern.class
/KnnPattern$DistClassTuple.class
/KnnPattern$DistNumTuple.class
/KnnPattern$DoubleTuple.class
/KnnPattern$Tuple.class
/KnnPattern$Writer.class
/DoubleTuple.class
/KnnMapper.class
/KnnReducer.class
/Writer.class
